[submodule "plugins/nodejs"]
	path = plugins/nodejs
	url = git@github.com:asdf-vm/asdf-nodejs.git
[submodule "plugins/ruby"]
	path = plugins/ruby
	url = git@github.com:asdf-vm/asdf-ruby.git
[submodule "plugins/python"]
	path = plugins/python
	url = git@github.com:danhper/asdf-python.git
[submodule "plugins/java"]
	path = plugins/java
	url = git@github.com:halcyon/asdf-java.git
[submodule "plugins/rust"]
	path = plugins/rust
	url = git@github.com:code-lever/asdf-rust.git
